* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

button,
input[type='text'] {
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

.bookmark-element {
  width: 250px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.bookmark-list {
  list-style: none;
  padding-left: 0;
}

.bookmark-list > li {
  margin-bottom: 20px;
  border: 2px solid #ff9800;
  padding: 20px;
  text-align: center;
}

.error-message {
  color: red;
}

.bookmark-element {
  display: block;
  color: grey;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 15px;
}
.fas {
  color: orange;
}
.adding-new-bookmark-form {
  margin-bottom: 20px;
  border: 2px solid #ff9800;
  padding: 20px;
  text-align: center;
}
